nz-select{
  width: 100%;
}


.maindiv{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

#btn2{
  margin-left: 10px;
}

nz-form-label{
  font-weight: lighter;
}


